<!--
  Generated template for the EventoDetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Editar evento {{ evento?.folio }}{{ evento?.serie }}</ion-title>

    <ion-buttons end>
      <button ion-button clear (click)="saveEvento()">
        Aceptar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <ion-label>Paciente</ion-label>
      <select-searchable
        item-content
        [(ngModel)]="paciente"
        [items]="pacientes"
        itemValueField="id"
        itemTextField="nombre"
        [canSearch]="true"
        (onChange)="pacienteChange($event)"
        placeholder="Paciente">
      </select-searchable>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="evento.id_tipo" placeholder="Título" class="full-width" okText="Aceptar"
                  cancelText="Cancelar">
        <ion-option *ngFor="let tipo of tipos" value="{{ tipo.id }}">{{tipo.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="evento.id_ubicacion" placeholder="Ubicación" class="full-width" okText="Aceptar"
                  cancelText="Cancelar">
        <ion-option *ngFor="let ubicacion of ubicaciones" value="{{ ubicacion.id }}">{{ubicacion.nombre}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Empieza</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="evento.fecha_ini"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Termina</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="evento.fecha_fin"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="evento.id_responsable" placeholder="Responsable" class="full-width" okText="Aceptar"
                  cancelText="Cancelar">
        <ion-option *ngFor="let responsable of responsables" value="{{ responsable.id }}">{{responsable.nombre}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Notas" value={{evento?.descripcion}} name="notas"></ion-textarea>
    </ion-item>
  </ion-list>

  <button ion-button clear full color="danger">Eliminar evento</button>
</ion-content>

<style>
  ion-list:first-child {
    margin-top: 32px;
  }

  ion-list + ion-list {
    margin-top: 0;
  }

  ion-select.full-width {
    width: 100%;
    max-width: 100%;
  }
</style>
