<!--
  Generated template for the PacientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Citas de {{ paciente.nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="getPacientes()"></ion-searchbar> -->

  <ion-list>
    <button ion-item *ngFor="let evento of eventos"><!-- (click)="goToDetalles(evento.id)"> -->
      <h2>{{ evento.fecha_ini }}</h2>
      <h3>{{ evento.folio }}{{ evento.serie }} {{ evento.titulo }}</h3>
      {{ evento.cuenta_nombre }}
      <br/> {{ evento.responsable_nombre }}
      <br/>
      <ion-badge item-right>{{ evento?.estatus }}</ion-badge>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
